<%pick.each do |x|%>
<p class = "text_color font cent spid_font"> <%=x.join(",")%></p>
<%end%>

<form method = "post" action = "bklist"> 
<center><input type="submit" name= "submit" value= "NextPage"><center>
</form>  