<h1 class = "cent"><img src = "/images/gaf_txt.png" width = "25%"></h2>

<form method = "post" action = "/isbn_numbers">
   <p class = "text_color font cent nd_font"> Enter ISBN-10 <input type ="TEXT" maxlength = "13" size = "10" name = "ten"></p>
   <p class = "text_color font cent nd_font"> Enter ISBN-13 <input type ="TEXT" maxlength = "17" size = "13" name = "thr"></p>
   <center> <input type = "submit"> <center>
</form>
<form method = "post" action = "csv_num">
    <p class = "text_color font cent font_type"> ISBN List</p>
  <center><input type = "submit"><center>
</form>

<body>
<img src = "/images/barcode.jpg" width = "25%">

</body>