<form method = "post" action = "/isbn_numbers">
   <p> Enter ISBN-10 <input type ="text" name = "ten"></p>
   <p> Enter ISBN-13 <input type ="text" name = "thr"></p>
    <input type = "submit">
</form>