
<h1 class = "cent text_color font nd_font">Please input the ISBN you want to be checked below<br><br>



<form method="post" action="number">

	<input type="text" name="isbn">
	<input type="submit" name="submit" value="submit">
</form>
