.cent {
    text-align: center;
}

.back_gr {
    background-image: url("/images/graf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.text_color {
    color: blue
}

.font_size {
    font-size: 800%;
}

.font {
    font-size: 300%;
}

.cent {
    text-align: center;
}

.imag_bord {
    border-style: solid;
    border-width: 5px;
}

@font-face {
    font-family: 'myfont';
    src: url('/fonts/n_font.ttf');
}

.font_type {
    font-family: 'myfont';
}

@font-face {
    font-family: '2ndfont';
    src: url('/fonts/drip.ttf');
}

.nd_font {
    font-family: '2ndfont'
}